* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #fff;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-main {
    width: 700px;
    height: 700px;
    margin: 17% auto;
    background-color: #beeff3;
    border: 2px solid #000;
    border-radius: 20px;
}

#btn-main:hover {
    background-color: rgb(164, 220, 229);
    border: 5px solid #000;
}

#icon-main {
    width: 600px;
}

.painel-main {
    width: 80%;
    height: 80%;
    margin-top: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
}

.btns-acoes {
    width: 300px;
    margin-left: 0;
}

body div div a button {
    width: 16.5rem;
    height: 9.5rem;
    margin: 6.5% 0 6.5% 0;
    border: 1px solid #000;
    border-radius: 10px;
}

#search-btn {
    background-color: #fff7a1;
}

#add-btn {
    background-color: #70bd77;
}

#remove-btn {
    background-color: #f05252;
}

#confirm-btn {
    background-color: #00c2a8;
}

#search-btn:hover {
    background-color: #fcec5e;
    cursor: pointer;
    border: 2px solid #000;
}

#add-btn:hover {
    background-color: #40c44b;
    cursor: pointer;
    border: 2px solid #000;
}

#remove-btn:hover {
    background-color: #f13636;
    cursor: pointer;
    border: 2px solid #000;
}

#back-btn:hover {
    background-color: #d6d6d6;
    cursor: pointer;
    border: 2px solid #000;
}

#confirm-btn:hover {
    background-color: #02e6c7;
    cursor: pointer;
    border: 2px solid #000;
}

#icon-btn {
    width: 100px;
}

#icon-back {
    transform: scaleX(-1);
    width: 100px;
}

.popup {
    position: relative;
}

.popup .popupbutton {
    position: absolute;
    display: flex;
    background-color: #d3d3d3;
    width: 700px;
    height: 450px;
    right: -240%;
    bottom: -10%;
    z-index: 1;
    border: 1px solid gray;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.bar-box input {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    background-color: #dfdfdf;
    width: 500px;
    height: 75px;
    top: 33px;
    left: 137px;
    font-size: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#barcode-icon {
    position: absolute;
    width: 20%;
    left: 10px;
}

.add-box input {
    position: absolute;
    text-align: center;
    letter-spacing: 2px;
    background-color: #dfdfdf;
    width: 500px;
    height: 75px;
    top: 200px;
    left: 170px;
    font-size: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#add-part {
    position: absolute;
    width: 200px;
    top: 135px;
    right: 515px;
}

.button-conf-dec input {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#button-confirm {
    position: absolute;
    top: 300px;
    right: 310px;
}

#icon-confirm {
    position: absolute;
    width: 100px;
    top: 315px;
    right: 324px;
    z-index: 1;
}

#button-decline {
    position: absolute;
    top: 300px;
    right: 130px;
}

#icon-decline {
    position: absolute;
    width: 100px;
    transform: scaleY(-1);
    top: 315px;
    right: 144px;
    z-index: 1;
}

.painel-secund {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 99%;
    border: 1px solid #000;
    border-radius: 10px;
}

.item-stock1 {
    width: 95%;
    height: 15%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto auto;
    position: absolute;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #000;
    padding: 10px 10px 5px 10px;
    letter-spacing: 10px;
}

.item-stock1 div {
    background-color: #fff;
    border-radius: 10px;
    margin: -6px -5px 0 -6px;
    padding: 16px 14px 16px 14px;
    border: 1px solid #000;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.item-stock2 {
    width: 95%;
    height: 15%;
    top: 16%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto auto;
    position: absolute;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #000;
    padding: 10px 10px 5px 10px;
    letter-spacing: 10px;
}

.item-stock2 div {
    background-color: #fff;
    border-radius: 10px;
    margin: -6px -5px 0 -6px;
    padding: 16px 14px 16px 14px;
    border: 1px solid #000;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1920px) {

    .item-stock1 {
        letter-spacing: 10px;
    }
}

@media screen and (max-width: 1830px) {

    .item-stock1 {
        letter-spacing: 8px;
    }
}

@media screen and (max-width: 1750px) {

    .item-stock1 {
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 1640px) {

    .item-stock1 {
        letter-spacing: 3px;
    }
}

@media screen and (max-width: 1560px) {

    .item-stock1 {
        letter-spacing: 0px;
    }

    .item-stock2 {
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 1450px) {

    .item-stock1 {
        letter-spacing: 0px;
    }

    .item-stock1 div {
        font-size: 45px;
    }
}

@media screen and (max-width: 1360px) and (max-height: 768px) {

    #btn-main {
        height: 500px;
        width: 500px;
    }

    #icon-main {
        width: 500px;
    }

    body div div a button {
        width: 16rem;
        height: 7.2rem;
        margin: 6.5% 0% 6.5% 0%;
        border: 1px solid #000;
        border-radius: 10px;
    }

    .item-stock1 {
        letter-spacing: 0px;
    }

    .item-stock1 div {
        font-size: 37px;
    }
}

@media screen and (max-width: 1350px) {

    .item-stock1 {
        letter-spacing: 0px;
    }

    .item-stock1 div {
        font-size: 43px;
    }
}

@media screen and (max-width: 1310px) {

    .item-stock1 {
        letter-spacing: 0px;
    }

    .item-stock1 div {
        font-size: 40px;
    }
}

@media screen and (max-width: 1250px) {

    .item-stock1 {
        letter-spacing: 0px;
    }

    .item-stock1 div {
        font-size: 37px;
    }
}
